<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Slides Editor</title>
        <%= stylesheet_link_tag    "editor", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "editor", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
	</head>
<body>

<%= yield %>

</body>
</html>
